.root {
  height: 218px;
  background: #ffffff;
  box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.1);
  border-radius: 30px;
  padding: 18px;
}

.head {
  display: flex;
  height: 136px;
  align-items: center;
  position: relative;
}

.image {
  height: 100%;
  width: 147px;
  object-fit: contain;
}

.info {
  margin-left: 23px;
  padding-top: 33px;
}

.title {
  font-weight: 500;
  color: #1c1c27;
  font-size: 17px;
}

.price {
  font-weight: 600;
  font-size: 15px;
  color: #aaaaaa;
  margin-top: 12px;
}

.body {
  display: flex;
  justify-content: space-between;
  margin-top: 17px;
}

.priceBottom {
  font-weight: 600;
  font-size: 15px;
  color: #1c1c27;
  padding-top: 8px;
  padding-right: 12px;
}

.counter {
  display: flex;
  align-items: center;
  width: 125px;
  justify-content: space-between;
}

.trash {
  position: absolute;
  top: 0;
  right: 10px;
}
