.root {
  box-shadow: 0px 0px 20px 0px rgba(0, 0, 0, 0.1);
  border-radius: 30px;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 22px 22px 31px 22px;
  background-color: white;
}

.head {
  height: 225px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.image {
  width: 100%;
  max-width: 220px;
}

.body {
  width: 100%;
  display: flex;
  flex-direction: column;
  margin-top: 60px;
}

.title {
  font-size: 17px;
}

.price {
  font-size: 17px;
  color: rgba(255, 165, 66, 1);
}

.row {
  display: flex;
  justify-content: space-between;
}

.row:not(:first-child) {
  margin-top: 25px;
}

.button {
  cursor: pointer;
  font-size: 17px;
  font-weight: 600;
}

.rating {
  font-size: 17px;
  font-weight: 600;
  color: rgba(131, 131, 131, 1);
  display: flex;
  width: 60px;
  justify-content: space-between;
  align-items: center;
}
