@font-face {
  font-family: "Montserrat";
  font-weight: 400;
  src: url(Montserrat/Montserrat-Regular.ttf) format("ttf"),
    url(Montserrat/Montserrat-Regular.eot) format("eot"),
    url(Montserrat/Montserrat-Regular.woff) format("woff"),
    url(Montserrat/Montserrat-Regular.woff2) format("woff2");
}

@font-face {
  font-family: "Montserrat";
  font-weight: 500;
  src: url(Montserrat/Montserrat-Medium.ttf) format("ttf"),
    url(Montserrat/Montserrat-Medium.eot) format("eot"),
    url(Montserrat/Montserrat-Medium.woff) format("woff"),
    url(Montserrat/Montserrat-Medium.woff2) format("woff2");
}

@font-face {
  font-family: "Montserrat";
  font-weight: 600;
  src: url(Montserrat/Montserrat-SemiBold.ttf) format("ttf"),
    url(Montserrat/Montserrat-SemiBold.eot) format("eot"),
    url(Montserrat/Montserrat-SemiBold.woff) format("woff"),
    url(Montserrat/Montserrat-SemiBold.woff2) format("woff2");
}

@font-face {
  font-family: "Montserrat";
  font-weight: 700;
  src: url(Montserrat/Montserrat-Bold.ttf) format("ttf"),
    url(Montserrat/Montserrat-Bold.eot) format("eot"),
    url(Montserrat/Montserrat-Bold.woff) format("woff"),
    url(Montserrat/Montserrat-Bold.woff2) format("woff2");
}
