.root {
  padding: 14px var(--padding) 0;
}

.nav {
  display: flex;
  justify-content: space-between;
}

.links {
  display: flex;
  padding-top: 6px;
  padding-right: 40px;
}

.linkToCart {
  margin-left: 43px;
}
