.container {
  display: flex;
  flex-direction: column-reverse;
  padding: 0 var(--padding);
}

.title {
  font-weight: 600;
  font-size: 20px;
  color: rgba(28, 28, 39, 1);
  margin-top: 47px;
  margin-bottom: 13px;
  padding: 0 var(--padding);
}

.orderBlock {
  margin: 0 auto;
}

.cartList {
  margin: 30px auto 0;
}

@media (min-width: 900px) {
  .container {
    flex-direction: row;
    justify-content: space-between;
    padding: 0 calc(2 * var(--padding));
  }

  .cartList {
    margin: 0;
  }

  .orderBlock {
    margin: 0;
    margin-top: 9px;
    margin-left: 12px;
  }
}
