.title {
  font-size: 20px;
  color: rgba(131, 131, 131, 1);
  padding: 0 var(--padding);
}

.list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-top: -9px;
}

.item {
  width: 100%;
  margin: 28px 15px 0;
  max-width: 300px;
}

@media (min-width: 1000px) {
  .item {
    max-width: 350px;
  }
}
